
svg {
    width:100%;
    height:100%;
}

/******
 * Basic Styles
*/

/*Nodes*/
.viva-node.system > .node-icon {
    fill:#fff;
}
.viva-node.system > .node-label {
    font-size:80%;
    fill:#fff;
    cursor:default;
}
.viva-node.region > .node-icon {
    fill:#b95f00;
}
.viva-node.region > .node-label {
    font-size:250%;
    fill:#999;
    cursor:default;
}
.viva-node.highlight > .node-icon {
	fill:#eeeeee;
}
/*.viva-node >.pin-mark {
    visibility: hidden;
}*/

/*Links*/
.viva-edge.gate {
    stroke: #bbbbbb;
    stroke-opacity: 0.5;
}
.viva-edge.regional-gate {
    stroke-dasharray: 5, 5;
}
.viva-edge.wormhole {
    stroke: #DD00DD;
    stroke-opacity: 0.5;
    stroke-dasharray: 5, 5;
}
.viva-edge.highlight {
    stroke-opacity:1;
    stroke-width: 2;
}

/*Labels*/

.viva-label.region {
    font-size:250%;
    fill:#aaa;
    opacity: 0.7;
    cursor:default;
}
.viva-label.highlight {
    opacity:1;
}

/****
 * Sec status overlay
 */
.viva-node.lowsec > .node-icon {
    fill:#b95f00;
}
.viva-node.nullsec > .node-icon {
    fill:#be0000;
}
.viva-node.highlight > .node-icon {
    fill:#4cff00;
}

/***
 * Special systems overlay
*/

.viva-node.system.special > .node-label {
    font-size:150%;
}

.viva-node.system.home-system > .node-label {
	font-size: 150%;
}