<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="wormholeMapper">
<head>
    <meta charset="utf-8" />
    <title>Wormhole Mapper</title>

    <!--Libraries -->
    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- source-->
    <script src="config.js"></script>
    <script src="js/bundle-lib.js?v=0.1.45"></script>
    <script src="js/bundle.js?v=0.1.45"></script>

    <!-- Styles-->
    <link id="bootstrap-css" rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.15.0.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link id="theme-css" rel="stylesheet" href="css/theme.default.custom.css" />
</head>
<body ng-controller="GlobalController">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" data-ui-sref="index">Wormhole Mapper</a>

            <ul class="nav navbar-nav">
                <li ng-class="{active: is('system-list')}">
                    <a data-ui-sref="system-list">Systems</a>
                </li>
                <li ng-class="{active: is('wormhole-list')}">
                    <a data-ui-sref="wormhole-list">Wormholes</a>
                </li>
                <li ng-class="{active: is('bridge-list')}">
                    <a data-ui-sref="bridge-list">Bridges</a>
                </li>
                <li ng-class="{active: is('route-finder')}">
                    <a data-ui-sref="route-finder">Route Finder</a>
                </li>
                <!--<li ng-class="{active: is('distance-display')}">
                    <a data-ui-sref="distance-display">Distance Display </a>
                </li>-->
            </ul>
            

            <ul class="nav navbar-nav navbar-right" ng-if="!user">
                <li><a data-ui-sref="login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="user">
                <li ng-class="{active: is('leaderboard')}">
                    <a data-ui-sref="leaderboard">Leaderboard</a>
                </li>
                <li ng-if="userRoles.admin" data-dropdown>
                    <a href="" data-dropdown-toggle>
                        Admin Tools<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-ui-sref="access-control">Access control</a></li>
                        <li><a data-ui-sref="payments">Payments calculator</a></li>
                    </ul>
                </li>
                <li data-dropdown>
                    <a href="" data-dropdown-toggle>
                        {{user.name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-ui-sref="user-details({user: user.name})">My Profile</a></li>

                        <li class="dropdown-submenu go-left">
                            <a tabindex="-1" href="#">
                                <i class="fa fa-caret-left"></i>
                                Themes
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" ng-click="setTheme('default')">
                                        <strong>Default</strong>
                                        <span class="glyphicon glyphicon-ok" ng-show="hasTheme('default')"></span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li ng-repeat="(key,val) in themes">
                                    <a href="" ng-click="setTheme(key)">
                                        {{val}}
                                        <span class="glyphicon glyphicon-ok" ng-show="hasTheme(key)"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li role="presentation" class="divider"></li>
                        <li><a data-ui-sref="users">User List</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
						<li role="presentation" class="divider"></li>
						<li class="disabled"><a>Version 0.1.45</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" role="main">

        <div class="alert alert-danger" style="font-size:200%;" ng-if="siteConfig.testEnvironment">
            This is a test/development system. It may be unstable, and the database will ocassionally be wiped.
        </div>

        <div ng-show="false">This site uses the latest javascript inovations, and is only tested
        under Firefox and Chrome. You should also disable Noscript.</div>

        <div data-ui-view>
            Loading initial data...
        </div>

    </div>
</body>
</html>