

<h2>Distance Display</h2>

<h3>TODO</h3>
<p>It's intended to look a bit like this:</p>

<div class="panel panel-default">

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Home System</th>
                <th>Target System</th>
                <th>Static Jumps</th>
                <th>Jumps with Bridges</th>
                <th>Jumps with Wormholes and Bridges</th>
                <th>Link to Route Finder</th>
            </tr>
        </thead>

        <tr>
            <td>Avenod</td>
            <td>Tama</td>
            <td>20</td>
            <td>16</td>
            <td>12</td>
            <td><a href="">Click me</a></td>
        </tr>
        <tr>
            <td>Avenod</td>
            <td>Jita</td>
            <td>18</td>
            <td>9</td>
            <td>3</td>
            <td><a href="">Click me</a></td>
        </tr>
        <tr>
            <td>Avenod</td>
            <td>Amamake</td>
            <td>8</td>
            <td>1</td>
            <td>1</td>
            <td><a href="">Click me</a></td>
        </tr>
        <tr>
            <td>Avenod</td>
            <td>Ham</td>
            <td>40</td>
            <td>35</td>
            <td>8</td>
            <td><a href="">Click me</a></td>
        </tr>
        <tr>
            <td>Avenod</td>
            <td>J0000001</td>
            <td>(No route)</td>
            <td>(No route)</td>
            <td>8</td>
            <td><a href="">Click me</a></td>
        </tr>
    </table>




</div>