
<div class="alert alert-info" role="alert">
    <strong>
        The tool is still under development. Please report any bugs you find, and any feature
        suggestions you might have.
    </strong>  
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2>Summary</h2>

                <p>
                    This is a tool for keeping track of wormholes, and also route finding through them.
                    It is tested in Firefox and Chrome.
                </p>

                <p>
                    Check out the 'route finder' tab, which is the most interesting thing in the
                    system right now.
                </p>

                <p>
                    If you have any suggestions or notice any bugs, post them to the Shadow Cartel forums,
                    <a href="https://github.com/Holocene/shdwc-route-finder/issues">add an issue in the issue tracker</a>
                    or contact me in game: Olixia Castitatis.
                </p>

                <p>
                    The site is developed using javascript, html and css. Angular JS provides the framework in which
                    the site is built. The site is hosted by <a href="https://github.com/">Github</a>, and the
                    database is provided by <a href="https://www.firebase.com/">Firebase.</a> 
                    Some backend services are provided by 
                    <a href="https://azure.microsoft.com">Microsoft Azure</a>.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <h2>Changelog</h2>
                <h3>April 7</h3>
                <ul>
                    <li>Refactored the route finder. It should run faster now.</li>
                    <li>Added 'avoid' option for system securities</li>
                    <li>Added 'min bridge distance' option</li>
                </ul>
                <h3>April 1</h3>
                <ul>
                    <li>Added Last Activity and Route Finder Queries columns to User List</li>
                    <li>Changed the default sort order on a bunch of columns</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2>How do I use this tool?</h2>

                <h3>Video Guide</h3>

                <p>Check out this 12 minute guide to probing wormholes and using the tool:
                    <a style="font-size:150%;" href="https://youtu.be/eq8OnXZKwp8">https://youtu.be/eq8OnXZKwp8</a>
                </p>

                <h3>Scanning</h3>
                <ol>
                    <li>Go to the <a href="/#/system-list">systems page</a></li>
                    <li>Find the system you are in.</li>
                    <li>In EVE, scan some signatures with your probe scanner. Select them all, then copy 
                    them to clipboard (hint: ctrl-A, ctrl-C).</li>
                    <li>Click 'paste scan results' to copy your results into the tool</li>
                    <li>Add any wormholes you find.
                    </li>
                </ol>
                <p>If you add the signatures you find to the tool, it's easier for the next prober 
                to work out what sigs are new and what have stayed the same.</p>

                <h3>Route finding</h3>
                <p>Go to the <a href="#/route-finder">route finding page.</a> Enter your start
                and destination system and you'll see an array of routes. Use the filters on the
                right to set system restrictions (no highsec) or transport method restrictions (no titans,
                or no wormholes).</p>
            </div>

        </div>

    </div>

</div>