
<div class="panel panel-default">
    <div class="panel-body">
        <h1 style="margin:0;">
            Leaderboard
            <small>(work in progress)</small>
        </h1>
    </div>
    <span>{{lol}}</span>
</div>

<div class="row">

    <div class="col-sm-3">
        <leaderboard-part title="Wormholes Added Today"
                          leaderboard-stats="wrmAddedToday">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Total Wormholes Added"
                          leaderboard-stats="wrmAddedAlltime">
        </leaderboard-part>
    </div>

</div>

<div class="row">

    <div class="col-sm-3">
        <leaderboard-part title="Wormholes Part Completed Today"
                          leaderboard-stats="wrmPartCompleteToday">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Total Wormholes Part Completed"
                          leaderboard-stats="wrmPartCompleteAllTime">
        </leaderboard-part>
    </div>

</div>

<div class="row">

    <div class="col-sm-3">
        <leaderboard-part title="Wormholes Completed Today"
                          leaderboard-stats="wrmCompleteToday">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Total Wormholes Completed"
                          leaderboard-stats="wrmCompleteToday">
        </leaderboard-part>
    </div>

</div>