
<div class="panel panel-default clearfix">

    <div class="panel-body">
        <h1 style="margin:0; line-height:40px;" class="pull-left">
            Leaderboard
            <small>(Work in progress)</small>
        </h1>

        <!--<div href="" data-dropdown class="pull-right">
            <a href="" data-dropdown-toggle style="line-height:40px;">
                TODO <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Yesterday</a></li>
                <li><a href="">Yesterday</a></li>
                <li><a href="">Yesterday</a></li>
                <li><a href="">Yesterday</a></li>
                <li><a href="">Yesterday</a></li>
            </ul>
        </div>-->
    </div>
</div>

<div class="panel panel-default clearfix" ng-show="hasLoadedLeaderboard">
    <div class="panel-body">
        <h2 style="margin:0;">
            Wormholes Completed
            <small class="abbr"
                    data-tooltip-placement="right"
                    data-tooltip="A wormhole becomes complete when it has a class and two signatures">
                ?
            </small>

        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <leaderboard-part title="Today"
                          leaderboard-stats="whComplete.today"
                          max-Records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Yesterday"
                          leaderboard-stats="whComplete.yesterday"
                          max-records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Last 10 days"
                          leaderboard-stats="whComplete.last10"
                          max-records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Total"
                          leaderboard-stats="whComplete.allTime"
                          max-records="5">
        </leaderboard-part>
    </div>
</div>

<div class="panel panel-default" ng-show="hasLoadedLeaderboard">
    <h2 style="margin:0;" class="panel-body">
        Wormholes Discovered
    </h2>
</div>

<div class="row">
    <div class="col-sm-3">
        <leaderboard-part title="Today"
                          leaderboard-stats="whAdded.today"
                          max-records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Yesterday"
                          leaderboard-stats="whAdded.yesterday"
                          max-records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Last 10 days"
                          leaderboard-stats="whAdded.last10"
                          max-records="5">
        </leaderboard-part>
    </div>

    <div class="col-sm-3">
        <leaderboard-part title="Total"
                          leaderboard-stats="whAdded.allTime"
                          max-records="5">
        </leaderboard-part>
    </div>
</div>