
<div class="alert alert-danger" role="alert" ng-if="returnToState">
    <strong>
        Login to continue
    </strong>
</div>

<div style="text-align:center;">
    <div style="display:inline-block;">


        <div class="panel panel-default">

            <h2 style="margin:15px 0 0 15px; line-height:34px">
                    Login
            </h2>

            <div class="panel-body">
                <p>
                    Login with Eve to continue
                </p>

                <div style="margin:80px 0 0 0;">

                    <a class="eve-login-btn"
                       ng-href="{{ssoUrl}}"></a>

                </div>



            </div>
        </div>


    </div>

</div>

