
<div class="row">
    <div class="col-md-10">
        <div sigma-js style="min-height:500px;">


        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Distance Map</h2>
                <p>work in progress</p>
                <p>Systems within 10j of Aeschee are in darkening shades of green</p>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    System Filters
                </div>

                <div data-toggle-list="systemTypes" class="list-group"></div>
            </div>
        </div>
    </div>
</div>


