
<div class="panel panel-default"
     ng-show="hasLoaded">
    <div class="panel-body">
        <h3 style="margin:0;">{{title}}</h3>
        <div ng-show="!ldrData.length">
            (None)
        </div>
    </div>
    <table class="table table-striped table-condensed">
        <tr ng-repeat="user in ldrData" class="vertical-middle">
            <td width="1%">
                <img src="{{user.picUrl}}" style="width:32px; height:32px;" />
            </td>
            <td>
                <a href="" ui-sref="user-details({user: user.name})">
                    {{user.name}}
                </a>
            </td>
            <td style="font-size:150%;">
                {{user.score}}
            </td>
        </tr>

        <tr ng-if="showRemainder">
            <td></td>
            <td style="font-size:150%">The Rest</td>
            <td style="font-size:150%;">
                {{remainder}}
            </td>
        </tr>

        <tr ng-if="showTotal">
            <td></td>
            <td style="font-size:150%" ng-if="showRemainder">Total</td>
            <td ng-if="!showRemainder">
                <span style="font-size:150%">Total</span>
                <small ng-if="remainder">(+ {{remainder}} more)</small>
            </td>
            <td style="font-size:150%;">
                {{total}}
            </td>
        </tr>

    </table>

</div>